<!DOCTYPE html>
<html>
  <head>
    <title>home</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <style>
      .image-container {
          float: right;
          width: 35%;
          padding: 20px;
          border-radius: 10px; /* Image border radius */
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Image shadow */

      }
      .main-pos
      {
          position: absolute;
          width: 80%;
          left: 10%;
          top: 30%;
          padding: 30px;
      }
  </style>
  </head>
  <body>
    <header>
      <h1>Jobbify</h1>
      <nav>
        <ul>
          <li><a target="_self" href="home">Home</a></li>
          <li><a target="_self" href="about">About Us</a></li>
          <li><a target="_self" href="contact">Contact</a></li>
          <li><a target="_self" href="newapp">Apply For a Job</a></li>
          <li>
            <a target="_self" href="tracking">Track your application</a>
          </li>
          <li><a target="_self" href="login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="main-pos">
          <img class="image-container" src="img/tracking img.jpg" alt="image">
          <h2>Welcome to Our Job Application platform</h2>
          <p>
              where talent meets opportunity.
              Streamlined interface, diverse listings, and personalized profiles make job hunting effortless.
              Join us for a seamless path to your dream career!.
          </p>
      </div>
  </main>
    <footer>
      <p>© 2024 Jobbify</p>
    </footer>
  </body>
</html>
